.message{data: {message: {id: "#{message.id}"}}}
  .message__upper-message
    .message__upper-message__user-name
      = message.user.name
    .message__upper-message__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
    .message__upper-message__edit
      = link_to edit_group_message_path(@group.id,message.id) do
        %i.fas.fa-edit
    .message__upper-message__delete
      = link_to group_message_path(@group.id,message.id), method: :delete, data: { confirm: "日報を削除しますか？" } do
        %i.fas.fa-trash-alt
    .message-mobile__upper-message
      .message-mobile__upper-message__date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
      .message-mobile__upper-message__edit
        = link_to edit_group_message_path(@group.id,message.id) do
          %i.fas.fa-edit
      .message-mobile__upper-message__delete
        = link_to group_message_path(@group.id,message.id), method: :delete, data: { confirm: "日報を削除しますか？" } do
          %i.fas.fa-trash-alt
  .message__lower-message
    - if message.content.present?
      %p.lower-message__content
        = safe_join(message.content.split("\n"), tag(:br))
    -# = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
