.side-bar
  .side-bar__top-content
    .side-bar__top-content__user
      .side-bar__top-content__user__user-name
        = current_user.name
      .side-bar__top-content__user__sign-out
        = link_to destroy_user_session_path, method: :delete do
          %i.fas.fa-sign-out-alt
      .side-bar__top-content__user__user-icon
        = link_to new_group_path(),class:"edit_icon"do
          %i.far.fa-edit
        = link_to edit_user_path(current_user),class:"edit_icon"do
          %i.fas.fa-cog
  .side-bar__group
    - if current_user.name == "大阪社員"
      .side-bar__group__department
        %details
          %summary 営業部
          - current_user.groups.where(department: "営業部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "営業部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "営業部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 貿易部
          - current_user.groups.where(department: "貿易部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "貿易部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "貿易部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary システム部
          - current_user.groups.where(department: "システム部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "システム部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "システム部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 企画部
          - current_user.groups.where(department: "企画部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "企画部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "企画部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 人事部
          - current_user.groups.where(department: "人事部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "人事部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "人事部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 経理部
          - current_user.groups.where(department: "経理部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "経理部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "経理部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 山陰の蔵
          - current_user.groups.where(department: "山陰の蔵").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "山陰の蔵").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "山陰の蔵").count
          .report-department-updated-icon
            %i.fas.fa-check
      - current_user.groups.where.not(department: ["営業部","貿易部","システム部","企画部","人事部","経理部","山陰の蔵","四季酒造","京都酒造","その他・退職者"]).each do |g|
        = link_to group_messages_path(g) do
          .side-bar__group__department__name
            .report-icon
              %i.fas.fa-book
            = g.name
            - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
              .report-updated-icon-independence
                %i.fas.fa-check
    






    - elsif current_user.name == "京都・四季社員"
      .side-bar__group__department
        %details
          %summary 京都酒造
          - current_user.groups.where(department: "京都酒造").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "京都酒造").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "京都酒造").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 四季酒造
          - current_user.groups.where(department: "四季酒造").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "四季酒造").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "四季酒造").count
          .report-department-updated-icon
            %i.fas.fa-check
      - current_user.groups.where.not(department: ["営業部","貿易部","システム部","企画部","人事部","経理部","山陰の蔵","四季酒造","京都酒造","その他・退職者"]).each do |g|
        = link_to group_messages_path(g) do
          .side-bar__group__department__name
            .report-icon
              %i.fas.fa-book
            = g.name
            - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
              .report-updated-icon-independence
                %i.fas.fa-check







    
    - elsif current_user.name == "管理者"
      .side-bar__group__department
        %details
          %summary 営業部
          - current_user.groups.where(department: "営業部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "営業部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "営業部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 貿易部
          - current_user.groups.where(department: "貿易部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "貿易部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "貿易部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary システム部
          - current_user.groups.where(department: "システム部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "システム部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "システム部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 企画部
          - current_user.groups.where(department: "企画部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "企画部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "企画部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 人事部
          - current_user.groups.where(department: "人事部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "人事部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "人事部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 経理部
          - current_user.groups.where(department: "経理部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "経理部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "経理部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 山陰の蔵
          - current_user.groups.where(department: "山陰の蔵").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "山陰の蔵").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "山陰の蔵").count
          .report-department-updated-icon
            %i.fas.fa-check
            .side-bar__group__department
        %details
          %summary テスト
          - current_user.groups.where(department: "テスト").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "テスト").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "テスト").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 京都酒造
          - current_user.groups.where(department: "京都酒造").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "京都酒造").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "京都酒造").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary 四季酒造
          - current_user.groups.where(department: "四季酒造").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "四季酒造").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "四季酒造").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar__group__department
        %details
          %summary その他・退職者
          - current_user.groups.where(department: "その他・退職者").each do |g|
            = link_to group_messages_path(g) do
              .side-bar__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "その他・退職者").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "その他・退職者").count
          .report-department-updated-icon
            %i.fas.fa-check
      - current_user.groups.where.not(department: ["営業部","貿易部","システム部","企画部","人事部","経理部","山陰の蔵","四季酒造","京都酒造","その他・退職者"]).each do |g|
        = link_to group_messages_path(g) do
          .side-bar__group__department__name
            .report-icon
              %i.fas.fa-book
            = g.name
            - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
              .report-updated-icon-independence
                %i.fas.fa-check
      - current_user.groups.where(department: nil).each do |g|
        = link_to group_messages_path(g) do
          .side-bar__group__department__name
            .report-icon
              %i.fas.fa-book
            = g.name
            - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
              .report-updated-icon-independence
                %i.fas.fa-check
    - else
      - current_user.groups.each do |g|
        = link_to group_messages_path(g) do
          .side-bar__group__department__name
            .report-icon
              %i.fas.fa-book
            = g.name
            - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
              .report-updated-icon-independence
                %i.fas.fa-check
  -# .side-bar__groups
  -#   .side-bar__groups__group
  -#     - current_user.groups.each do |group|
  -#       = link_to group_messages_path(group) do
  -#         .side-bar__groups__group__name
  -#           = group.name
          -# .side-bar__groups__group__message
          -#   = group.show_last_message

.side-bar-mobile
  .side-bar-mobile__top-content
    .side-bar-mobile__top-content__user
      .side-bar-mobile__top-content__user__user-name
        = current_user.name
      .side-bar__top-content__user__sign-out
        = link_to destroy_user_session_path, method: :delete do
          %i.fas.fa-sign-out-alt
      .side-bar-mobile__top-content__user__user-icon
        = link_to new_group_path(),class:"edit_icon"do
          %i.far.fa-edit
        = link_to edit_user_path(current_user),class:"edit_icon"do
          %i.fas.fa-cog
  .side-bar-mobile__group
    - if current_user.name == "大阪社員"
      .side-bar-mobile__group__department
        %details
          %summary 営業部
          - current_user.groups.where(department: "営業部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "営業部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "営業部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 貿易部
          - current_user.groups.where(department: "貿易部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "貿易部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "貿易部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary システム部
          - current_user.groups.where(department: "システム部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "システム部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "システム部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 企画部
          - current_user.groups.where(department: "企画部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "企画部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "企画部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 人事部
          - current_user.groups.where(department: "人事部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "人事部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "人事部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 経理部
          - current_user.groups.where(department: "経理部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "経理部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "経理部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 山陰の蔵
          - current_user.groups.where(department: "山陰の蔵").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "山陰の蔵").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "山陰の蔵").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        - current_user.groups.where.not(department: ["営業部","貿易部","システム部","企画部","人事部","経理部","山陰の蔵","四季酒造","京都酒造","その他・退職者"]).each do |g|
          = link_to group_messages_path(g) do
            .side-bar-mobile__group__department__name
              .report-icon
                %i.fas.fa-book
              = g.name
              - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                .report-updated-icon
                  %i.fas.fa-check





    - elsif current_user.name == "京都・四季社員"
      .side-bar-mobile__group__department
        %details
          %summary 京都酒造
          - current_user.groups.where(department: "京都酒造").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "京都酒造").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "京都酒造").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 四季酒造
          - current_user.groups.where(department: "四季酒造").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "四季酒造").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "四季酒造").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        - current_user.groups.where.not(department: ["営業部","貿易部","システム部","企画部","人事部","経理部","山陰の蔵","四季酒造","京都酒造","その他・退職者"]).each do |g|
          = link_to group_messages_path(g) do
            .side-bar-mobile__group__department__name
              .report-icon
                %i.fas.fa-book
              = g.name
              - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                .report-updated-icon
                  %i.fas.fa-check







    - elsif current_user.name == "管理者"
      .side-bar-mobile__group__department
        %details
          %summary 営業部
          - current_user.groups.where(department: "営業部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "営業部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "営業部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 貿易部
          - current_user.groups.where(department: "貿易部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "貿易部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "貿易部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary システム部
          - current_user.groups.where(department: "システム部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "システム部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "システム部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 企画部
          - current_user.groups.where(department: "企画部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "企画部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "企画部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 人事部
          - current_user.groups.where(department: "人事部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "人事部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "人事部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 経理部
          - current_user.groups.where(department: "経理部").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "経理部").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "経理部").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 山陰の蔵
          - current_user.groups.where(department: "山陰の蔵").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "山陰の蔵").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "山陰の蔵").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 京都酒造
          - current_user.groups.where(department: "京都酒造").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "京都酒造").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "京都酒造").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary 四季酒造
          - current_user.groups.where(department: "四季酒造").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "四季酒造").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "四季酒造").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        %details
          %summary その他・退職者
          - current_user.groups.where(department: "その他・退職者").each do |g|
            = link_to group_messages_path(g) do
              .side-bar-mobile__group__department__name
                .report-icon
                  %i.fas.fa-book
                = g.name
                - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                  .report-updated-icon
                    %i.fas.fa-check
        - if Group.joins(:messages).where(department: "その他・退職者").where("messages.created_at >= ?", Time.zone.now.beginning_of_day).count >= current_user.groups.where(department: "その他・退職者").count
          .report-department-updated-icon
            %i.fas.fa-check
      .side-bar-mobile__group__department
        - current_user.groups.where.not(department: ["営業部","貿易部","システム部","企画部","人事部","経理部","山陰の蔵","四季酒造","京都酒造","その他・退職者"]).each do |g|
          = link_to group_messages_path(g) do
            .side-bar-mobile__group__department__name
              .report-icon
                %i.fas.fa-book
              = g.name
              - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                .report-updated-icon
                  %i.fas.fa-check
      .side-bar-mobile__group__department
        - current_user.groups.where(department: nil).each do |g|
          = link_to group_messages_path(g) do
            .side-bar-mobile__group__department__name
              .report-icon
                %i.fas.fa-book
              = g.name
              - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                .report-updated-icon
                  %i.fas.fa-check
    - else
      .side-bar-mobile__group__department
        - current_user.groups.each do |g|
          = link_to group_messages_path(g) do
            .side-bar-mobile__group__department__name
              .report-icon
                %i.fas.fa-book
              = g.name
              - if g.messages.where("messages.created_at >= ?", Time.zone.now.beginning_of_day).exists?
                .report-updated-icon-independence
                  %i.fas.fa-check
  -# .side-bar-mobile__groups
  -#   .side-bar-mobile__groups__group
  -#     - current_user.groups.each do |group|
  -#       = link_to group_messages_path(group), class: "group_link" do
  -#         .side-bar-mobile__groups__group__name
  -#           = group.name